<div style="position: fixed; background: white;" id="debug-info" class="debug-mode"></div>
<div id="game"></div>

 <!-- Static Modal -->
 <div class="modal modal-static fade" id="processing" role="dialog" aria-hidden="true">
 	<div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
            	<div class="text-center">
                    <img src="http://www.travislayne.com/images/loading.gif" class="icon" />
                    <h4>Processing...</h4>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="@routes.Assets.at("javascripts/game.js")"></script>