@(form: Form[Application.Login], loggedUser: User)
@main(form, loggedUser) {
	@if(flash.containsKey("success")) {
		<div class="alert alert-success">
			@flash.get("success")
		</div>
	}
	@if(flash.containsKey("error")) {
		<div class="alert alert-danger">
			@flash.get("error")
		</div>
	}
	<table id="active-games" cellspacing="0" width="100%">
		<thead>
			<tr>
				<th>Id</th>
				<th>Nazwa gry</th>
				<th>Właściciel</th>
				<th>Dołącz</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>1</td>
				<td>Destroy It</td>
				<td>Kozak</td>
				<td></td>
			</tr>
			<tr>
				<td>2</td>
				<td>Destroy It</td>
				<td>Kozak</td>
				<td></td>
			</tr>
			<tr>
				<td>3</td>
				<td>Destroy It</td>
				<td>Kozak</td>
				<td></td>
			</tr>
		</tbody>
	</table>
}
