@(form: Form[Application.Login], loggedUser: User)
@main(form, loggedUser) {
	@if(flash.containsKey("success")) {
  <div class="modal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          <div class="alert alert-success">
            @flash.get("success")
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div>
	} else {
	@if(flash.containsKey("error")) {
		<div class="alert alert-danger">
			@flash.get("error")
		</div>
	} }
	@if(loggedUser!=null) {
		<div class="jumbotron">
	        <table id="active-games" class="table table-striped table-hover">
	            <thead>
	                <tr>
	                    <th>Id</th>
	                    <th>Nazwa gry</th>
	                    <th>Właściciel</th>
	                    <th>Gracze</th>
	                    <th>Dołącz</th>
	                </tr>
	            </thead>  
	        </table>
	    </div>
    }else{
    	<div id="transition-timer-carousel" class="carousel slide transition-timer-carousel" data-ride="carousel" style="position:absolute;top: 0px; left: 0px;">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#transition-timer-carousel" data-slide-to="0" class="active"></li>
        <li data-target="#transition-timer-carousel" data-slide-to="1"></li>
        <li data-target="#transition-timer-carousel" data-slide-to="2"></li>
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner">
        <div class="item active">
                    <img src="@routes.Assets.at("images/wall/im1.jpg")" alt="im1" />
                    <div class="carousel-caption">
                        <h1 class="carousel-caption-header">War Heroes</h1>
                        <p class="carousel-caption-text hidden-sm hidden-xs">
                            Zarejestruj się i walcz na frontach II Wojny Światowej.
                        </p>
                    </div>
                </div>
                
                <div class="item">
                    <img src="@routes.Assets.at("images/wall/im2.jpg")" alt="im2" />
                    <div class="carousel-caption">
                        <h1 class="carousel-caption-header">Taktyka</h1>
                        <p class="carousel-caption-text hidden-sm hidden-xs">
                            Rozwiń swoje umiejętności taktyczne, aby zdobyć najwyższe odznaczenia.
                        </p>
                    </div>
                </div>
                
                <div class="item">
                    <img src="@routes.Assets.at("images/wall/im3.jpg")" alt="im3" />
                    <div class="carousel-caption">
                        <h1 class="carousel-caption-header">Oko w oko z przeciwnikiem</h1>
                        <p class="carousel-caption-text hidden-sm hidden-xs">
                            Stań do walki razem ze swoimi przyjaciółmi.
                        </p>
                    </div>
                </div>
            </div>

      <!-- Controls -->
      <a class="left carousel-control" href="#transition-timer-carousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </a>
      <a class="right carousel-control" href="#transition-timer-carousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
      </a>
            
            <!-- Timer "progress bar" -->
            <hr class="transition-timer-carousel-progress-bar animate" />
    </div>
    }
}
